html{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
body {
    background-color: lightgray;
    height: 200%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
hr.custom {
    border: 4px solid red;
    border-radius: 5px;
    box-shadow:2px 2px 0px orange;
}
.back-button {
    width: 250px; /* Set a fixed width */
    height: 40px; /* Set a fixed height */
}
.container {
    margin-top: 50px;
    min-height: 600px;
}

/* Footer stays at the bottom */
.custom-footer {
    background-color: #00d1b2;
    height: 6rem;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 1.2rem;
}
