<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Manga</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma/css/bulma.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom-css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom-css/all_manga.css') }}">
    <script src="{{ url_for('static', filename='js/all-manga.js') }}" defer></script>
</head>
<body>
    <!-- Header -->
    <section class="hero is-info">
        <div class="hero-body">
            <h1 class="title is-size-1">All Manga</h1>
        </div>
    </section>
    <!-- Back Button -->
    <button class="button is-link is-outlined back-button" onclick="window.history.back();"><-- Back to previous page</button>
    <br />
    <!-- Manga Table -->
    <section class="section">
            <!-- Search Input -->
            <label for="searchInput" class="label">Search for:</label>
            <input type="text" id="searchInput" placeholder="Search ..." onkeyup="searchTable()">
            
            <table class="table is-striped is-bordered is-hoverable" id="mangaTable">
                <thead>
                    <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Chapter Read</th>
                    <th>Status Read</th>
                    <th>Official Status</th>
                    <th>Year of Release</th>
                    <th>Up to date</th>
                    <th>Genres</th>
                    </tr>
                </thead>
                <tbody id="mangaTableBody">
                    {% for manga in manga_list %}
                    <!--<tr onclick="redirectToDetails('{{ manga.manga_id }}')">-->
                        {% for key, value in manga._asdict().items() %}
                            {% if key != 'eng_name' %}
                            <td
                                {% if key == 'manga_id' or key == 'title' %}
                                  class="clickable" 
                                  onclick="redirectToDetails('{{ manga.manga_id }}')"
                                {% endif %}
                                >
                                {{ value }}
                            </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </section>
    <footer class="custom-footer">
        <p>&copy; 2024 Manga Website. All rights reserved.</p>
    </footer>
</body>
</html>
