<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit SQL for manga</title>
    <!-- Link to Bulma CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma/css/bulma.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom-css/base.css') }}">
</head>
<body>
    <!-- Header -->
    <section class="hero is-info">
        <div class="hero-body">
            <h1 class="title is-size-1">Edit SQL for manga</h1>
        </div>
    </section>

    {% if not session.get('valid_entry') %}
        <!-- Back Button -->
        <button class="button is-link is-outlined back-button" onclick="window.location.href='/'">
            <-- Back to previous page
        </button>
        <br>
    {% endif %}

    <div class="container">
        {% if not session.get('valid_entry') %}
        <!-- Form only visible when the manga ID is not valid -->
        <form method="POST" action="{{ url_for('edit_sql') }}">
            <div class="field is-horizontal">
                <h2 class="title is-3 mr-3">Manga ID:</h2>
                <div class="control is-expanded">
                    <input type="text" id="manga_id" name="manga_id" class="input {% if session.get('valid_entry') is not none and not session.get('valid_entry') %}is-danger{% endif %}" 
                        required placeholder="Enter manga ID" style="width: 300px;" 
                        value="{{ session.get('manga_id', '') }}">
                    <!-- Display error message only if there's an error -->
                    {% if session.get('error') %}
                        <p class="help is-danger">{{ session.get('error') }}</p>
                    {% endif %}
                </div>

                <!-- Submit button -->
                <div class="control is-grouped" style="margin-left: 10px;">
                    <button class="button is-primary equal-height" type="submit" name="action" value="info">Submit</button>
                </div>  
            </div>
        </form>
        {% else %}
        <div class="container">
            <div class="control">
                <!-- Delete this entry button -->
                <h2 class="title is-3 mr-3">Delete this manga </h2>
                <form method="POST" action="/edit">
                    <button type="submit" class="button is-danger" name="action" value="delete">
                        {% if session['pending_delete'] %}
                            Confirm Delete
                            <input type="hidden" name="confirm" value="yes">
                            <input type="hidden" name="manga_id" value="{{ session['pending_delete'] }}">
                        {% else %}
                            Delete
                        {% endif %}
                    </button>
                    {% for message in get_flashed_messages(category_filter=["delete"]) %}
                            <p>{{ message }}</p>   
                    {% endfor %}
                </form>
            <br>
            <br>
                <!-- Edit this entry field -->
                <h2 class="title is-3">Edit this manga </h2>
                {% for message in get_flashed_messages(category_filter=["update"]) %}
                    {% if 'Error' in message  %}
                        <p class="has-text-danger">{{message}}</p>
                    {% else  %}
                        <p class="has-text-primary">{{ message }}</p>
                    {% endif %} 
                {% endfor %}
                <form method="POST" action="/edit">
                    <div class="field">
                        <label class="label">Choose an Option:</label>
                        <div class="control">
                            <div class="select">
                                <select id="dropdown" name="dropdown">
                                    <option value="">Select an option</option>
                                    {% for option in options %}
                                        <option value="{{ option.value }}">{{ option.label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
    
                    <!-- Input field that will appear based on dropdown selection -->
                    <div class="field" id="inputFields" style="display: none;">
                        <label class="label">Input the new information for the selected option:</label>
                        <div class="control">
                            <input type="text" id="inputField" name="inputField" class="input" placeholder="Enter info here" style="width: 400px;">
                        </div>
                        <!-- Submit button -->
                        <br>
                        <div class="control">
                            <button class="button is-primary" type="submit" name="action" value="update">Submit</button>
                        </div>
                    </div>
                </div>

            <br>
            <br>
            <br>
            <br>
            <!-- Cancel button positioned at the bottom-right using Bulma -->
            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="field is-grouped is-grouped-right">
                        <a class="button is-warning" href="{{ url_for('edit_sql') }}?action=cancel">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    



    <!-- Footer -->
    <footer class="custom-footer">
        <p>&copy; 2024 Manga Website. All rights reserved.</p>
    </footer>
    <!-- Link to external JavaScript file -->
    <script src="{{ url_for('static', filename='js/edit.js') }}"></script>
</body>
</html>

