<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main SQL Viewer</title>
    <!-- Link to Bulma CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma/css/bulma.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom-css/base.css') }}">
</head>
<body>
       <!-- Header -->
    <section class="hero is-info">
        <div class="hero-body">
            <h1 class="title is-size-1">Main SQL viewer for manga</h1>
        </div>
    </section>

    <div class="container">
        <!-- Manga Search Form -->
        <h1 class="title is-3">Search for a Manga</h1>
        <form method="POST" action="/manga">
            <div class="field">
                <label for="manga_name" class="label">Manga Name:</label>
                <div class="control">
                    <input type="text" id="manga_name" name="manga_name" class="input" required placeholder="Enter manga name" style="width: 300px;">
                </div>
            </div>
            <!-- Display error message if it exists -->
            {% if session.get('error_search') %}
                <div class="error-message" style="color: red;">
                    {{ session.pop('error_search') }}
                </div>
            {% endif %}
            <div class="control">
                <button type="submit" class="button is-primary">Search</button>
            </div>
        </form>
        <hr class="custom">
        <!-- All Manga Button -->
        <h1 class="title is-3">All Manga</h1>
        <form method="POST" action="/all">
            <div class="control">
                <button type="submit" class="button is-info">Show All Manga</button>
            </div>
        </form>
        <br>
        <hr class="custom">
        <br>
         <!-- Delete Manga Button -->
         <h1 class="title is-3">Edit SQL entries</h1>
         <form method="GET" action="/edit">
            <div class="control">
                <button type="submit" class="button is-warning">Edit SQL</button>
            </div>
        </form>
        <br>
         <hr class="custom">
         <br>
        <!-- Statistiques Button -->
        <h1 class="title is-3">Statistiques</h1>
        <form method="GET" action="/statistiques">
            <div class="control">
                <button type="submit" class="button is-info">Statistiques</button>
            </div>
        </form>
        <br>
        <hr class="custom">
        <br>
    </div>
    <!-- Footer -->
    <footer class="custom-footer">
            <p>&copy; 2024 Manga Website. All rights reserved.</p>
    </footer>
</body>
</html>

<script>
    function clearInputAndRedirect() {
        document.getElementById("manga_id").value = ""; // Clear the input field
        window.location.href = "/"; // Redirect to homepage
    }
</script>
