<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ manga_info.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma/css/bulma.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom-css/manga_details.css') }}">
    <script src="{{ url_for('static', filename='js/manga.js') }}" defer></script>
    <style>

    </style>
</head>
<body>
    <!-- Header -->
    <section class="hero is-primary">
        <div class="hero-body">
            <h1 class="title is-size-1">Manga Details</h1>
        </div>
    </section>

    <!-- Back Button -->
    <button class="button is-link is-outlined back-button" onclick="window.history.back();">
        <-- Back to previous page
    </button>

    <!-- Main section -->
    <section class="section">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-narrow">
                    {% if image_url and 'no-image' not in image_url %}
                        <figure class="image">
                            <img src="{{ image_url }}" alt="Manga Image">
                        </figure>
                    {% else %}
                        <figure class="image">
                            <img src="{{ image_url }}" style="width: 401px; height: 401px;" alt="no-image">
                        </figure>
                    {% endif %}
                </div>
                <div class="column is-narrow">
                    <div class="card custom-card">
                        <div class="card-content">
                            <h1 class="title is-3">{{ manga_info.title }}</h1>
                            <div class="columns is-multiline">
                                <div class="column is-full">
                                    <div class="content">
                                        <p><strong>English Name:</strong> {{ manga_info.eng_name }}</p>
                                        <p class="chapter"><strong>Chapter:</strong> {{ manga_info.chapter_read }}</p>
                                        <p><strong>Status:</strong> {{ manga_info.status_read }}</p>
                                        <p><strong>Official Status:</strong> {{ manga_info.status_offi }}</p>
                                        <p><strong>Year Release:</strong> {{ manga_info.year_release }}</p>
                                        <!-- if true print with url if not print false-->
                                        {% if manga_info.is_latest == 1 %}
                                            <p><strong>New chapter:</strong> <a href="https:/mangadex.org/title/{{ manga_info.manga_id }}" target="_blank">True</a></p>
                                        {% else %}
                                            <p><strong>New chapter:</strong>False</p>
                                        {% endif %}
                                        <p><strong>Genres</strong> 
                                            {{ tags }}
                                        </p>                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer has-text-centered" style="background-color: #00d1b2; padding-top: 50px; padding-bottom: 50px;">
        <div class="content">
            <p>&copy; 2024 Manga Website. All rights reserved.</p>
        </div>
    </footer>
    
</body>
</html>