<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ manga.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma/css/bulma.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom-css/manga-card.css') }}">
    <script src="{{ url_for('static', filename='js/manga.js') }}" defer></script>
    <style>
        body {
            background-color: lightgray;
        }
    </style>
</head>
<body>
    <!-- Header -->
    <section class="hero is-primary">
        <div class="hero-body">
            <h1 class="title is-size-1">Manga Details</h1>
        </div>
    </section>

    <!-- Back Button -->
    <button class="button is-link is-outlined" onclick="window.history.back();">
        <-- Back to previous page
    </button>

    <!-- Main section -->
    <section class="section">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-narrow">
                    {% if image_url %}
                        <figure class="image">
                            <img src="{{ image_url }}" alt="Manga Image">
                        </figure>
                    {% else %}
                        <p class="has-text-danger">No image available.</p>
                    {% endif %}
                </div>
                <div class="column is-narrow">
                    <div class="card custom-card">
                        <div class="card-content">
                            <h1 class="title is-2">{{ manga.name }}</h1> <!-- Manga name -->
                            <div class="columns is-multiline">
                                <div class="column is-full">
                                    <div class="content">
                                    <p><strong>English Name:</strong> {{ manga.eng_name }}</p>
                                    <p class="chapter"><strong>Chapter:</strong> {{ manga.chapter }}</p>
                                    <p><strong>Status:</strong> {{ manga.status }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>