<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Statistiques Viewer</title>
    <!-- Link to Bulma CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma/css/bulma.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='custom-css/base.css') }}" />
  </head>
  <body>
    <!-- Header -->
    <section class="hero is-primary">
      <div class="hero-body">
        <h1 class="title is-size-1">Statistiques Viewer</h1>
      </div>
    </section>
    <!-- Back Button -->
    <button class="button is-link is-outlined back-button" onclick="window.history.back();"><-- Back to previous page</button>
    <br />
    <h2 class="subtitle is-3 is-underlined">General stats:</h2> <!-- Table Title -->
    <!-- Directly display the statistics below the heading -->
    <div>
      <p>
        <strong>Total Manga Count:</strong> {{ stats.number_manga }}
      </p>
      <p>
        <strong>Average Chapters Read:</strong> {{ stats.average_chapter }}
      </p>
      <p>
        <strong>Number of not up to date Manga:</strong> {{ stats.is_latest }}
      </p>
    </div>
    <br />
    <!-- Table Side by Side (or Adjust Based on Content) -->
    <div class="columns">
      <div class="column is-half">
        <h2 class="subtitle is-3 is-underlined">Quantity by read status</h2> <!-- Table Title -->
        <table id="status-read" class="table is-bordered is-striped is-hoverable">
          <thead>
            <tr>
              <th>Read status</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <!-- Dynamic rows will be injected here by JavaScript -->
          </tbody>
        </table>
      </div>
      <div class="column is-half">
        <h2 class="subtitle is-3 is-underlined">Quantity by tags name</h2> <!-- Table Title -->
        <table id="tags-table" class="table is-bordered is-striped is-hoverable">
          <thead>
            <tr>
              <th>Tags names</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <!-- Dynamic rows will be injected here by JavaScript -->
          </tbody>
        </table>
      </div>
    </div>

    <!-- Second under Table -->
    <div class="column">
      <h2 class="subtitle is-3 is-underlined">Quantity by Year</h2> <!-- Table Title -->
      <table id="year-table" class="table is-bordered is-striped is-hoverable">
        <thead>
          <tr>
            <th>Year</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <!-- Dynamic rows will be injected here by JavaScript -->
        </tbody>
      </table>
    </div>
    <!-- Data embedded as hidden JSON -->
    <script type="application/json" id="status-read-data">
      {{ status_read | tojson}}
    </script>
    <script type="application/json" id="year-release-data">
      {{ year_release | tojson }}
    </script>
    <script type="application/json" id="tags-stats-data">
      {{ tags_stats | tojson }}
    </script>

    <!-- External JS File -->
    <script src="{{ url_for('static', filename='js/statistiques.js') }}"></script>
  </body>
</html>
